body::before {
    content: "";
    display: block;
    position: fixed; /* this will make it stay in place on scroll */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* this will place it behind your content */

    background-image: url("/static/mobile_bg.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
